.random_recipes{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    margin-bottom: 50px;
}
.count_parameters{
    text-align: right;
}
.count_parameter{
    margin-bottom: 15px;
}
.position_parameter{
    margin-bottom: 15px;
}
.find{
    width: 75px;
    height: 75px;
    margin: 7px 15px 0 15px;
}
.search{
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
}
